.section.editor#editor-column{"aria-label" => "Note"}
  .sn-component
    .app-bar.no-edges{"ng-if" => "ctrl.note.locked", "ng-init" => "ctrl.lockText = 'Note Locked'", "ng-mouseover" => "ctrl.lockText = 'Unlock'", "ng-mouseleave" => "ctrl.lockText = 'Note Locked'"}
      .left
        .item{"ng-click" => "ctrl.toggleLockNote()"}
          .label.warning
            %i.icon.ion-locked
            {{ctrl.lockText}}

  .sn-component{"ng-if" => "ctrl.note"}
    .app-bar.no-edges
      .left
        .item{"ng-click" => "ctrl.selectedMenuItem($event); ctrl.deleteNote()"}
          .label Delete

  .editor-content#editor-content{"ng-if" => "ctrl.noteReady && !ctrl.note.errorDecrypting"}

    %component-view.component-view{"ng-if" => "ctrl.selectedEditor", "component" => "ctrl.selectedEditor", "ng-style" => "ctrl.note.locked && {'pointer-events' : 'none'}", "ng-class" => "{'locked' : ctrl.note.locked }"}

    %textarea.editable#note-text-editor{"ng-if" => "!ctrl.selectedEditor", "ng-model" => "ctrl.note.text", "ng-disabled" => "ctrl.note.locked",
     "ng-change" => "ctrl.contentChanged()", "ng-trim" => "false", "ng-click" => "ctrl.clickedTextArea()",
     "ng-focus" => "ctrl.onContentFocus()", "dir" => "auto", "ng-attr-spellcheck" => "{{ctrl.spellcheck}}"}
      {{ctrl.onSystemEditorLoad()}}

  .section{"ng-if" => "ctrl.note.errorDecrypting"}
    %p.medium-padding{"style" => "padding-top: 0 !important;"} There was an error decrypting this item. Ensure you are running the latest version of this app, then sign out and sign back in to try again.

  #editor-pane-component-stack
    .sn-component
      %component-view.component-view.component-stack-item.border-color{"ng-repeat" => "component in ctrl.componentStack",
       "ng-if" => "component.active", "ng-show" => "!component.hidden", "manual-dealloc" => "true", "component" => "component"}
