.section.notes#notes-column
  .content
    .section-title-bar#notes-title-bar
      .padded
        .section-title-bar-header
          .title
            Journal
          .add-button#notes-add-button{"ng-click" => "ctrl.createNewNote()"} +
        .filter-section
          %input.filter-bar#search-bar.mousetrap{"select-on-click" => "true", "ng-model" => "ctrl.noteFilter.text", "placeholder" => "Search",
          "ng-change" => "ctrl.filterTextChanged()", "lowercase" => "true", "ng-blur" => "ctrl.onFilterEnter()", "ng-keyup" => "$event.keyCode == 13 && ctrl.onFilterEnter();"}
            #search-clear-button{"ng-if" => "ctrl.noteFilter.text", "ng-click" => "ctrl.clearFilterText();"} ✕
      .sn-component#notes-menu-bar
        .app-bar.no-edges
          .left
            .item{"ng-click" => "ctrl.sortBy == 'updated_at' ? ctrl.selectedSortByCreated() : ctrl.selectedSortByUpdated()", "ng-class" => "{'selected' : ctrl.showMenu}"}
              .column
                .label
                  {{ctrl.optionsSubtitle()}}

    .scrollable
      .infinite-scroll#notes-scrollable{"infinite-scroll" => "ctrl.paginate()", "can-load" => "true", "threshold" => "200"}
        .note{"ng-repeat" => "note in (ctrl.sortedNotes = (ctrl.tag.notes | filter: ctrl.filterNotes | sortBy: ctrl.sortBy | limitTo:ctrl.notesToDisplay)) track by note.uuid",
            "ng-click" => "ctrl.selectNote(note, true)", "ng-class" => "{'selected' : ctrl.selectedNote == note}"}
          %strong.red.medium{"ng-if" => "note.conflict_of"} Conflicted Copy
          %strong.red.medium{"ng-if" => "note.errorDecrypting"} Error Decrypting

          .pinned.tinted{"ng-if" => "note.pinned", "ng-class" => "{'tinted-selected' : ctrl.selectedNote == note}"}
            %strong.medium {{note.title}}

          .date.faded{"ng-if" => "!ctrl.hideDate&&!note.pinned"}
            %span{"ng-if" => "ctrl.sortBy == 'updated_at'"} {{note.updatedAtString() || 'Now'}}
            %span{"ng-if" => "ctrl.sortBy != 'updated_at'"} {{note.createdAtString() || 'Now'}}
